<% if options[:readme] == options[:file] and !object[:tasklibs].nil? %>
  <h2>Mattock Tasklibs Defined</h2>
  <ul>
    <% object[:tasklibs].uniq.each do |tasklib| %>
      <li><%= link_object(tasklib) %></li>
    <% end %>
  </ul>

  For more information about Mattock, check out <a href="https://rubygems.org/gems/mattock">the page on Rubygems</a> or <a href="http://nyarly.github.com/mattock/">the documentation on github</a>
<%end%>
